.home-background {
  position: absolute;
  z-index: -2;
  opacity: 0.65;
  width: 100vw;
  height: 100vh;
}
.navbar-position {
  position: absolute;
  display: inline-block;
  background-color: rgba(105, 105, 105, 0.575);
  /* #e7c8a0 */
  /* #faedcd */
  /* #e6cebc */
}
.nav-link.active {
  text-decoration: underline;
  border-bottom: solid 3px white;
  font-family: fantasy;
  font-weight: 400;
}
.nav-link {
  font-family: sans-serif;
  font-weight: 550;
  font-size: 25px;
  padding: 0px;
  margin: 0px;
}
.nav-link-home {
  font-family: sans-serif;
  font-size: 45px;
  text-decoration: none;
  padding: 0px;
  margin: 0px;
  color: white;
  font-weight: 700;
}
.Nav-display {
  padding-left: 95px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100vw;
}
.borrow-label {
  margin-right: 20px;
  display: flex;
  align-items: center;
}
.search-display {
  margin-top: 60px;
}
.home-layout {
  /* overflow: auto */
  width: 100vw;
  height: 100vh;
  z-index: 1;
}
.home-layout::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
/* .example { */
/* -ms-overflow-style: none;  IE and Edge */
/* scrollbar-width: none;  Firefox */
/* } */
.home-header {
  margin-top: 50px;
  width: 60vw;
  /* background-color: black; */
  align-self: center;
  align-items: center;
  z-index: 2;
  text-align: center;
  font-size: 70px;
  font-family: serif;
  /* padding: 20px; */
}
.home-header input {
  width: 50vw;
  margin: 30px;
  padding: 8px;
  padding-left: 30px;
  border-radius: 20px;
}
.inner-search input {
  width: 50vw;
  margin: 30px;
  padding: 8px;
  padding-left: 30px;
  border-radius: 20px;
}
.home-links {
  align-self: center;
  padding-top: 30px;
  width: 70vw;
  align-items: center;
  justify-content: space-evenly;
}
.home-card-name {
  position: absolute;
  bottom: -60px;
  font-family: serif;
  font-weight: bold;
  color: black;
  /* font-size: 40px; */
}
.home-card-logo {
  width: 100%;
  object-fit: contain;
}
.home-cards {
  margin-bottom: 65px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 300px;
  width: 300px;
  border: solid 2px black;
  border-radius: 50%;
  position: relative;
  padding: 20px;
  background-color: #f4ece2b4;
}
.auto-scolling {
  overflow: auto;
}
.cutoff {
  overflow: hidden;
}
.container-display {
  background-color: #e9e0c8a2;

  position: relative;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-radius: 30px;
  width: 65vw;
  height: 65vh;
}
.container-display::-webkit-scrollbar {
  display: none;
}
/* fix home items */
.row-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.inner-search {
  position: absolute;
  top: -100px;
  width: 100%;
}
.add-list {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  bottom: 30px;
  right: 30px;
  /* width: 40%; */
  z-index: 5;
  /* background-color: black; */
}
.row-test {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  /* position: relative; */
}
/* fix column home */
.column {
  display: flex;
  flex-direction: column;
  position: relative;
}
.tab {
  background-color: rgb(228, 228, 228);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 5px;
  padding: 1px;
  padding-left: 5px;
  padding-right: 2px;
  border-radius: 15px;
  cursor: pointer;

  /* flex-wrap: wrap; */
}
.tab:hover {
  background-color: mediumblue;
}
.genre {
  padding: 0px;
  margin: 0px;
}
.close-tab {
  margin-left: 8px;
  /* margin-right: 2px; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: none;
}
