/*----------------------- NAV CHANGES CSS : ---------------------------------*/
.navbar-position {
  position: absolute;
  display: inline-block;
  background-color: rgba(105, 105, 105, 0.575);
  /* #e7c8a0 */
  /* #faedcd */
  /* #e6cebc */
}
.nav-link.active {
  text-decoration: underline;
  border-bottom: solid 3px white;
  font-family: fantasy;
  font-weight: 400;
}
.nav-link {
  font-family: sans-serif;
  font-weight: 550;
  font-size: 25px;
  padding: 0px;
  margin: 0px;
}
.nav-link-home {
  font-family: sans-serif;
  font-size: 45px;
  text-decoration: none;
  padding: 0px;
  margin: 0px;
  color: white;
  font-weight: 700;
}
.Nav-display {
  padding-left: 95px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100vw;
}
/* ------------END NAV CSS ^ -------------------------------- */
/* -----------------HOME CSS : ----------------------------------- */
.home-background {
  position: absolute;
  z-index: -2;
  opacity: 0.65;
  width: 100vw;
  height: 100vh;
}
.borrow-label {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.home-layout {
  /* overflow: auto */
  width: 100vw;
  height: 100vh;
  z-index: 1;
}
.home-layout::-webkit-scrollbar {
  display: none;
}

.home-header {
  margin-top: 50px;
  width: 60vw;
  /* background-color: black; */
  align-self: center;
  align-items: center;
  z-index: 2;
  text-align: center;
  font-size: 70px;
  font-family: serif;
  /* padding: 20px; */
}
.home-header input {
  width: 50vw;
  margin: 30px;
  padding: 8px;
  padding-left: 30px;
  border-radius: 20px;
}

.home-links {
  align-self: center;
  padding-top: 30px;
  width: 70vw;
  align-items: center;
  justify-content: space-evenly;
}
.home-card-name {
  position: absolute;
  bottom: -60px;
  font-family: serif;
  font-weight: bold;
  color: black;
  /* font-size: 40px; */
}
.home-card-logo {
  width: 100%;
  object-fit: contain;
}
.home-cards {
  margin-bottom: 65px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 300px;
  width: 300px;
  border: solid 2px black;
  border-radius: 50%;
  position: relative;
  padding: 20px;
  background-color: #f4ece2b4;
}
/* -------------------END HOME CSS ^ -------------------------*/
/* ------------------SEARCH CSS : ----------------------------- */
.inner-search input {
  width: 50vw;
  margin: 30px;
  padding: 8px;
  padding-left: 30px;
  border-radius: 20px;
}
.search-display {
  margin-top: 60px;
}
.inner-search {
  position: absolute;
  top: -100px;
  width: 100%;
}
/*---------------- END SEARCH ^ --------------------------- */
/*----------  FOR  BOOKS DISPLAYS --------------------------- */
.auto-scolling {
  overflow: auto;
}
.cutoff {
  overflow: hidden;
}
/* show booksDisplayed: */
.container-display {
  background-color: #e9e0c8a2;
  position: relative;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-radius: 30px;
  width: 65vw;
  height: 65vh;
}
.container-display::-webkit-scrollbar {
  display: none;
}
/* fix home items */
.row-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/* for Create book modal: */
.add-list {
  display: flex;
  justify-content: center;
  padding: 20px;
  z-index: 5;
}
.row-test {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  /* position: relative; */
}
/* fix column home */
.column {
  display: flex;
  flex-direction: column;
  position: relative;
}
/*-------------- END HOME ^ ---------------------------------- */
/* ---------------- TAP -------------------------------------- */
.tab {
  background-color: rgb(228, 228, 228);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 5px;
  padding: 1px;
  padding-left: 5px;
  padding-right: 2px;
  border-radius: 15px;
  cursor: pointer;

  /* flex-wrap: wrap; */
}
.tab:hover {
  background-color: mediumblue;
}

.close-tab {
  margin-left: 8px;
  /* margin-right: 2px; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: none;
}
/* ----------- END TAP --------------------------------------- */
/* ------------ GENRE ----------------------------------------- */
.genre {
  padding: 0px;
  margin: 0px;
}
/* -------------- CARDS  ----------------------------------------- */
.card {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  display: grid;
  font-family: "Trebuchet MS", sans-serif;
  height: 200px;
  margin: 20px auto;
  width: 350px;
  color: black;
}

.front {
  display: block;
  font-size: 15px;
  text-transform: capitalize;
  text-align: center;
  font-size: x-large;
}
.personal-intro {
  margin-top: 40px;
  background-color: #b0c4de;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
/* ------------------ END CARDS ^  ----------------------------------------- */
.card-container {
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
}
.test {
  width: 300px;
  height: 300px;
  position: relative;
  /* background-color: black; */
}
.m-card {
  margin: 27px;
}
.b-card {
  margin: 35px;
}
.card-layout {
  padding: 25px;
  justify-content: center;
}

.our-team {
  padding: 30px 0 40px;
  margin-bottom: 30px;
  background-color: #f7f5ec;
  text-align: center;
  overflow: hidden;
  position: relative;
  border-radius: 30px;
}

.our-team .picture {
  display: inline-block;
  height: 130px;
  width: 130px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}

.our-team .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #1369ce;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
  height: 100%;
}

.our-team .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: white;
  /* border: 1px solid black; */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team .picture img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}

.our-team .title {
  display: block;
  font-size: 15px;
  color: #4e5052;
  text-transform: capitalize;
}

.our-team .social {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #1369ce;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}

.our-team:hover .social {
  bottom: 0;
}

.our-team .social li {
  display: inline-block;
}

.our-team .social li a {
  display: block;
  padding: 10px;
  font-size: 17px;
  color: white;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.our-team .social li a:hover {
  color: #1369ce;
  background-color: #f7f5ec;
}

.name {
  color: black;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 25px;
}
.gold {
  color: goldenrod;
}
.silver {
  color: silver;
}
.platinum {
  color: #022f40;
}
.detail {
  font-size: 25px;
  font-weight: 750;
  font-family: sans-serif;
}
